<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>TODO APP</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-50">
    <nav class="h-[60px] flex items-center justify-between px-10 bg-slate-200">
      <p>TODO APP</p>
      <ul class="flex gap-5 text-sm underline cursor-pointer">
        <li>Home</li>
        <li>Profile</li>
      </ul>
      <button class="px-4 py-1 rounded-md bg-black text-white hover:scale-105">Logout</button>
    </nav>
    <h1 class="text-center font-bold text-3xl mt-10 mb-14">TODO</h1>
    <div class="flex justify-center w-full">
      {% for todo in todos %}
       {% include 'mvt/todo.html' with context_variable=todo %}
      {% endfor %}
    </div>
  </body>
</html>
