{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO APP | LOGIN</title>
    <link rel="stylesheet" href={% static 'style.css' %} />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex justify-center items-center min-h-screen bg-slate-50">
    <form method="POST" class="bg-slate-200 p-10 flex flex-col gap-5 rounded-xl w-full max-w-[600px]" id="add-todo-modal">
      <p class="text-center font-semibold text-xl">WELCOME BACK</p>
      {% csrf_token %} {{ login_form.as_p }}
      <button type="submit" class="w-full bg-green-400 hover:bg-green-500 font-medium py-1 rounded-lg">LOGIN</button>
      <a href="register" class="text-sm text-blue-600 text-center cursor-pointer hover:underline">New here? Register</a>
    </form>
  </body>
</html>
