<nav class="h-[60px] flex items-center justify-between px-10 bg-slate-200">
    <p>TODO APP</p>
    <ul class="flex gap-5 text-sm underline cursor-pointer">
      <li class="hover:scale-105"><a href="/">Home</a></li>
      <li class="hover:scale-105"><a href="/profile">Profile</a></li>
      <li class="hover:scale-105"><a href="/todolog">Todo log</a></li>
    </ul>
    <a href="logout">
      <button class="px-4 py-1 rounded-md bg-black text-white hover:scale-105">Logout</button>
    </a>
  </nav>