#add-todo-modal  p{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#add-todo-modal input, textarea {
    border-radius: 20px;
    padding: 4px 10px;
}


#id_expire::placeholder {
    font-size: small;
}

#register span{
    font-size: 10px;
    color: rgb(175, 115, 2);
}
#register ul{
    font-size: 10px;
    color: rgb(175, 115, 2);
}

#register p {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#register input {
    border-radius: 20px;
    padding: 4px 10px;
}